*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

.am-topbar,.admin-header{
   margin: 0;
   height: 60px;
   background: #5A8CFF;
   box-shadow: 1px 5px 10px 1px rgba(3, 3, 3, 0.11);
}
.am-topbar-brand{
    width: 259px;   
    height: 59px;
    background: #4878E7;
    float: left;
}
.am-topbar-brand img{
    padding: 1px 0 0 28px;
}
.am-topbar-right{
    margin-top: 5px;
}
#am-dropdown-toggle{
    color: white;
}
#am-dropdown-toggle:hover{
    background: transparent;
}
.am-btn-success{
    outline: none;
    margin-top: 13px;
}
.box_nav{
    height: 100%;
    border: 0;
    width: 260px;
    background-color: white;
}
.admin-sidebar{
    border: none;
}
.nav_list{
    height: 60px;
    background-color: white;
}
.icon-nav{
    float: right;
    font-size: 24px;
    padding: 10px;
    color: #4878E7;
}
.am-list>li {
    position: relative;
    display: block;
    margin-bottom: 0px;
    background-color: #fff;
    border:none;
    border-width:0;
}
.admin-sidebar-sub li:first-child {
    border: none;
}
.admin-sidebar-list li a {
    color: #151E34;
    padding-left: 55px;
}
.admin-sidebar-list li a:hover,#collapse-nav:hover{
    background-color:#5A8BFF ;
    color: white;
}
.admin-sidebar-sub{
    padding-left: 0px;
    background: none;
    box-shadow: none;
}
.am-icon-home,.am-icon-sign-out{
  font-size: 20px;
}
.icon_text{
    margin-left:10px ;
}
.admin-content{
    min-height: 875px;
    background-color:#F0F3FC ;
}
.am-padding{
    height: 60px;
    background: #FBFCFE;
    box-shadow: 1px 5px 2px 1px rgba(3, 3, 3, 0.01);

}
.am-text-primary{
    color: #4878E7;
}
.am-g {
    margin: 35px auto;
    width: 100%;
}
.am-margin-right {
    transform:rotate(90deg);
    margin-top: 15px;
}
.fromenumber {
    width: 307px;
    height: 285px;
    background-color: #ffffff;
    margin-top: 60px;
    float: left;
    border-radius: 10px;
    margin-left: 88px;
}
.fromenumber_one{
    width: 307px;
    height: 211px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    /* background-color:pink; */
    border-radius:10px 10px 0px 0px;
    
}
.fromenumber_two{
    text-align: center;
    width: 307px;
    height: 74px;
    color: white;
    background: #5A8CFF;
    box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0px 0px 10px 10px;
    padding-top: 15px;
    
}
.icon-wnumber_icon:before {

    font-size:114px;
    content: "\e618";
}
.fh{
    background: #5A8CFF;
}
.fh:hover{
    color: black;
    background-color: #5A8CFF !important;
}
.fromenumber:hover{
    cursor: pointer;
}
.box_one{
    width: 355px;
    height: 51px;
    margin: 50px 156px;
    position: relative;
}
input{
    outline: none;
}
.box_one>input{
    width: 355px;
height: 51px;
background: #F2F6FB;
border: 1px solid #C5C4C4;
border-radius: 20px;
padding-left: 15px;

}
.box_one>img{
    position: absolute;
    left: 86%;
    top: 27%;

}
.contain,.flotter{
    width: 1332px;
    height: 545px;
    /* background: #FFFFFF; */
    background-color: white;
    border: 1px solid #ECF0F5;
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.05);
    margin:  0 auto; 
}
.contain{
    margin-top: 100px ;
}
.contain_head{
    width: 1332px;
height: 63px;
background: #5A8BFF;
box-shadow: 0px 9px 23px 1px rgba(227, 230, 232, 0.63), 0px 1px 7px 0px rgba(234, 247, 248, 0.27);
border-radius: 4px 4px 0px 0px;
font-size: 24px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
text-align: center;
position: relative;
}
.contain_head>p{
   line-height: 63px;
  display:inline
}

.nyr{
float: right;
margin-right: 50px;
}
*+address, *+blockquote, *+dl, *+fieldset, *+figure, *+hr, *+ol, *+p, *+pre, *+ul {
    margin-top: 0rem;
}
address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul {
    margin: 0 0 0rem;
}
form{
    margin: 0 auto;
    /* background-color: pink; */
}
form>input{
    width: 160px;
height: 20px;
font-size: 20px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #434547;
line-height: 60px;
    margin-left:106px ;
    margin-top: 45px;
    border: 0px;
    background-color: transparent;
    /* background-color: pink; */
    padding-left: 15px;
}
.txnr{
    width: 290px;
    height: 39px;
    border-radius: 18px;
    background-color: RGBA(247, 247, 247, 1);   
    margin-left: 20px !important;

}

.txnyr{
    width:54px !important;
    border-radius: 0px;
    padding-left: 0px !important;
   margin-left: 0px !important;
}
.synyr{
    width: 20px !important;
    margin-left: 0px !important;
}
.ipnumber{
    width: 160px !important;
    margin-left:  0px !important;
}
.flotter{
    height:130px;
    width: 82%;
    background-color: transparent;
    border: 0px;
    box-shadow: 0px 0px 0px 0px ;
    margin: 0 auto;
    /* background-color: pink; */
}
.flotter>p{
    width: 762px;
height: 55px;
font-size: 16px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #444648;
line-height: 38px;
float: left;
margin-left: 20px;
margin-top: 20px;
}
.flotter>img{
    float: left;
    margin-top: 30px;
}
.btn{
    width: 1332px;
    height: 63px;
    /* background-color: pink; */
    margin: 20px auto;
    text-align: center;
    
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin:0px 190px;
    width: 136px;
    outline: none;

}
.button2 {
    background: #5A8CFF;
    border-radius: 9px;
} /* Blue */
input[type="date"] {
    margin: 1px;
    margin-top: 49px;
    width: 192px;
}
.contain_head>input[type="date"]{

    position: absolute;
    left: 84%;
    top: -54%;
    width: 200px;
    background-color: transparent;
    outline: none;
    border: 0px;

}
.add:hover{
    cursor: pointer;
} 

.button3 {
    background: #F05858;
    border-radius: 9px;} /* Red */

    @media screen and (max-width: 320px) {
        .btn {
            width: 340px !important;
     
        }
        .box_one>input {
            width: 266px;
         
            background: url(../images/xuehao.png) no-repeat 220px 15px;
        }
    }
    /* iphoneX */
    @media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
        .box_one {
            width: 355px;
            height: 51px;
            margin: 20px 40px;
        }
        .contain, .flotter {
            width: 400px;
            height:1600px;
            border: 1px solid #ECF0F5;
            box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.05);
            margin: 0 auto;
        }
        .box_one>input {
            width: 319px;
           
            background: url(../images/xuehao.png) no-repeat 280px 15px;
        }
    }
    /* iphone6 7 8 plus */
    @media screen and (max-width: 414px) {
      
    }
    /* ipad */
    @media screen and (max-width: 768px) {
        .box_one {
            width: 355px;
            height: 51px;
            margin: 20px 40px;
        }
        .contain, .flotter {
            width: 400px;
            height:1200px;
            border: 1px solid #ECF0F5;
            box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.05);
            margin: 0 auto;
        }
        .txnyr {
            width: 52px !important;
            border-radius: 0px;
            padding-left: 0px !important;
            margin-left: 0px !important;
        }
        form>input {
            width: 260px;
            margin-top: 15px;
        }
        .txnr {
            width: 360px;
        }
        .flotter>p {
            width: 300px;
            height: 120px;
         
        }
        .btn {
            width: 400px;
            height: 63px;
            /* background-color: pink; */
            margin-top: 20px;
            text-align: center;
        }
        .button {
            margin: 0px ;
        
        }
    }
    /* ipad pro */
    @media screen and (min-width: 1024px) {
     
    }
    /* pc */
    @media screen and (min-width: 1100px) {
  
    }