*{
margin: 0 ;
padding: 0;
}
body{
    height: 100%;
}
table{
    width: 1000px;
    height: 1008px;
    margin: 0 auto;
    text-align: center;
    border-collapse:collapse;
}
span{
    margin-left: 20px;
}
tr{
    width: 25%;
}
td{
    width: 25%;
    width: 200px;
    
}
input[type="date"]{
    width: 170px;
    margin-top: 20px;
}