*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

.am-topbar,.admin-header{
   margin: 0;
   height: 60px;
   background: #5A8CFF;
   box-shadow: 1px 5px 10px 1px rgba(3, 3, 3, 0.11);
}
.am-topbar-brand{
    width: 259px;   
    height: 59px;
    background: #4878E7;
    float: left;
}
.am-topbar-brand img{
    padding: 1px 0 0 28px;
}
.am-topbar-right{
    margin-top: 5px;
}
#am-dropdown-toggle{
    color: white;
}
#am-dropdown-toggle:hover{
    background: transparent;
}
.am-btn-success{
    outline: none;
    margin-top: 13px;
}
.box_nav{
    height: 100%;
    border: 0;
    width: 260px;
    background-color: white;
}
.admin-sidebar{
    border: none;
}
.nav_list{
    height: 60px;
    background-color: white;
}
.icon-nav{
    float: right;
    font-size: 24px;
    padding: 10px;
    color: #4878E7;
}
.am-list>li {
    position: relative;
    display: block;
    margin-bottom: 0px;
    background-color: #fff;
    border:none;
    border-width:0;
}
.admin-sidebar-sub li:first-child {
    border: none;
}
.admin-sidebar-list li a {
    color: #151E34;
    padding-left: 55px;
}
.admin-sidebar-list li a:hover,#collapse-nav:hover{
    background-color:#5A8BFF ;
    color: white;
}
.admin-sidebar-sub{
    padding-left: 0px;
    background: none;
    box-shadow: none;
}
.am-icon-home,.am-icon-sign-out{
  font-size: 20px;
}
.icon_text{
    margin-left:10px ;
}
.admin-content{
    min-height: 875px;
    background-color:#F0F3FC ;
}
.am-padding{
    height: 60px;
    background: #FBFCFE;
    box-shadow: 1px 5px 2px 1px rgba(3, 3, 3, 0.01);

}
.am-text-primary{
    color: #4878E7;
}
.am-g {
    margin: 35px auto;
    width: 100%;
}
.am-margin-right {
    transform:rotate(90deg);
    margin-top: 15px;
}
.fromenumber {
    width: 307px;
    height: 285px;
    background-color: #ffffff;
    margin-top: 60px;
    float: left;
    border-radius: 10px;
    margin-left: 88px;
}
.fromenumber_one{
    width: 307px;
    height: 211px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    /* background-color:pink; */
    border-radius:10px 10px 0px 0px;
    
}
.fromenumber_two{
    text-align: center;
    width: 307px;
    height: 74px;
    color: white;
    background: #5A8CFF;
    box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0px 0px 10px 10px;
    padding-top: 15px;
    
}
.icon-wnumber_icon:before {

    font-size:114px;
    content: "\e618";
}
.fh{
    background: #5A8CFF;
}
.fh:hover{
    color: black;
    background-color: #5A8CFF !important;
}
.fromenumber:hover{
    cursor: pointer;
}
.box{
    width: 1332px;
    height: 544px;
margin: 50px auto;
background: transparent;
border: 1px solid #EDF1F5;
box-shadow: 1px 8px 17px 2px rgba(0, 0, 0, 0.05);

}
.box_one{
  /* width: 100%; */
  height: 100px;
  background-color: transparent;
  /* background-color: pink; */
}

input,.box_two{
    float: right;
}
.box_two{
    width: 100%;
    height: 544px;
    text-align: center;
    background: #FFFFFF;
    /* background-color: pink; */
}
th{
    text-align: center;
}
.am-table>tbody>tr>td, .am-table>tbody>tr>th, .am-table>tfoot>tr>td, .am-table>tfoot>tr>th, .am-table>thead>tr>td, .am-table>thead>tr>th {
    padding-top: 20px;
    border-top: 0px solid #ddd;
}
.btn_clbd{
    width: 97px;
height: 37px;
background: #5A8BFF;
border-radius: 15px;
}
.am-container{
    margin: auto;
}
#pagcentered{
    max-width: 970px;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 25px;
}
.am-pagination>.am-active>a{
    background-color:#5A8BFF;
}
.am-modal{
    width: 818px;
height: 795px; 
background-color: pink;

}
.header{ 
font-size: 25px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
    width: 818px;
    height: 90px;
    line-height: 64px;
    background: #5A8BFF;
    box-shadow: 0px 9px 23px 1px rgba(227, 230, 232, 0.63), 0px 1px 7px 0px rgba(234, 247, 248, 0.27);
    
}
.box_one>input{
       width: 355px;
height: 51px;
background: url("../images/xuehao.png") no-repeat 300px 15px;
border: 1px solid #C5C4C4;
border-radius: 20px;
margin-right: 200px;
padding-left: 20px;
   outline: none;    
       
     
}
.clbd{
    width: 78px;
height: 37px;
background: #5A8CFF;
border-radius: 10px!important;
margin-left: 10px !important;

}
.am-btn-primary {
    border:0px;
}
/* .box_contain{
    display: none;
} */
.jysqbox{
    width: 819px;
height: 795px;
background: #FFFFFF;
box-shadow: 0px 0px 8px 1px rgba(3, 3, 3, 0.21);
border-radius: 4px;
margin: 50px auto;
}
.jysq,.sysbtgtkbox,.clkfsys,.kfbtgtkbox,.clyqsys{
    width: 100%;
    height: 100%;
    background-color: RGBA(180, 182, 189, 0.5);
    border-radius: 10px;
    position: absolute;
    top:0%;
    left: 0%;
    display: none;   
}
.yqsbtgtkbox{
    width: 1903px;
    height: 936px;
    background-color: RGBA(180, 182, 189, 0.5);
    border-radius: 10px;
    position: absolute;
    top:0%;
    left: 0%;
    display: none;   
}


.jysqheader{
    width: 819px;
height: 90px;
background: #5A8CFF;
box-shadow: 1px 9px 24px 1px rgba(227, 230, 232, 0.63), 1px 1px 7px 0px rgba(235, 247, 248, 0.27);
text-align: center;
font-size: 25px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
line-height: 87px;
}
#formin{
    width: 100%;
    height: 520px;  
    /* background-color: pink; */
}
#formin>p{
    height: 20px;
    text-align: right;
}
#formin>input{
    width: 150px;
    height: 25px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    background-color: transparent;
    border: 0px;   
}
input{
    outline: none;
}
.txnr{
    width: 133px;
height: 25px;
/* background: #000000;
opacity: 0.03; */
background-color: RGBA(247, 247, 247, 1);
border-radius: 13px;
border: 1px solid black !important;
background-color: RGBA(247, 247, 247, 1);
text-align: left !important;
text-align: center;

}
.txbjxx {
    width: 91px!important;
    height: 26px !important;
    margin-left: 53px !important;
 

}
.bjsr{
    margin-left: 5px !important;
    border-radius: 13px;
    border: 1px solid black !important;
background-color: RGBA(247, 247, 247, 1);

}
.symd{
    width: 516px !important;
height: 25px !important;
border-radius: 12px;
border: 1px solid black !important;
background-color: RGBA(247, 247, 247, 1);
text-align: left !important;
}
.rs{
    width: 40px !important;
    margin-left: 0px !important;
}
.xsbj{
    margin-left: 23px !important;
}
.jysqcontain>form>input{
    float: left;
    width: 174px;
    height: 25px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    float: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    border: 0px !important;
    text-align: right;
    background-color: transparent;

}
.jysqcontain>#sbjy>input{
    width: 201px;
}
.nyr{
    color: black;
    width: 100%;   
    text-align: right;
    }
#xxjysq{
    margin: 0 auto;
    width: 800px;
    height: 450px;
    /* background-color: blue; */
    text-align: center;
}
.bjxx{
    width: 78px !important;
}
.txnyr{
    width: 46px !important;
   
}
.nyrtxt{
    width: 43px !important;
    margin-left: 0px !important;
    background-color: transparent;
    border-radius: 0px;
}

.txnrpa{
    margin-left: 0px !important;
}

.am-pagination>.am-active>a, .am-pagination>.am-active>a:focus, .am-pagination>.am-active>a:hover, .am-pagination>.am-active>span, .am-pagination>.am-active>span:focus, .am-pagination>.am-active>span:hover {
    z-index: 0;

}
.zdls{
    width: 200px !important;
}

textarea{
    width: 589px;
height: 98px;
background: #FFFFFF;
box-shadow: 0px 1px 7px 0px rgba(4, 0, 0, 0.08);
border-radius: 10px;
margin:  33px auto;
outline: none;
resize: none
}
.txnr{
    width: 290px;
    height: 39px; 
    background-color: RGBA(247, 247, 247, 1);   
    margin-left: 20px !important;

}

.txnyr{
    width:54px !important;
    border-radius: 0px;
    padding-left: 0px !important;
   margin-left: 0px !important;
}
.synyr{
    width: 161px !important;
    margin-left: 0px !important;
}
.iphone{
    width: 160px !important;
    margin-left:  0px !important;
}
.sysj{
    width: 73px !important;
}
.mtsj{
    width: 150px !important;
}
.yqnyr{
    width: 89px !important;
}
.liuchengtu_box,.yqspliuchengtu_box{
    width: 589px;
    height: 100px;
    margin: 0 auto;
}
.yqspliuchengtu_box{
    width: 700px;
}
.liuychengtu,.liuychengtu_txt{
    width: 90%;
    height: 50px;

    margin: 0 auto;

font-size: 11px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #000001;

}
.yuandian,.yqspyuandian,.kfyuandian{
 width:10px;
 height: 10px;
    background: #386FF0;
    border: 1px solid #386FF0;
    border-radius: 50%;
float: left; 
margin-top: 20px;

}
.zhixian,.yqspzhixian,.kfzhixian{
    width: 117px;
height: 3px;
background: #2E64E6;
border: 1px solid #386FF0;
opacity: 0.45;
float: left;   
margin-top: 23px; 
}
.tixaoshi{
    margin-left: 38px;
}
.yqtixaoshi{
    margin-left: 4px;
    width: 20px;
    height: 20px;
}
.gh,.spwc{
    margin-left: 49px;
}
input[type="button"]{
 float: left;
}
.btn{
    width: 816px;
    height: 63px;
    /* background-color: pink; */
    margin: 20px auto;
    text-align: center;
    
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin:0px 20px;
    width: 145px;
    outline: none;

}
.button2 {
    background: #5A8CFF;
    border-radius: 9px;
} /* Blue */
.button3 {
background-color: red;
    border-radius: 9px;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;
    border-radius: 9px} /* Gray */
.btgtk{
    width: 602px;
height: 402px;
background: #FFFFFF;
box-shadow: 0px 0px 8px 1px rgba(3, 3, 3, 0.21);
border-radius: 10px;
margin: 200px auto;
padding-left: 45px;
padding-top: 20px;
}
.btgtk>textarea{
    width: 491px;
height: 220px;
border: 1px solid #B3B5B5;
outline: none;
resize: none;
margin: 0 auto;
}
.syyy{
    width: 113px !important;
}
.symdtx{
    text-align: left !important;
    width: 647px !important;
    background-color:  RGBA(247, 247, 247, 1);
    margin-bottom: 10px;
}

.btgtk>.btn{
    width: 510px !important;
}
.syxsmd{
    width: 110px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
table{
    width: 803px;
height: 236px;
margin: 0px auto;
margin-top: 20px;

}
tr{
    text-align: center;
}
th{
    
    width: 25%;
    height: 50px;
}
tbody{
    text-align: center;
}
td{
    height: 50px; 
}
td>input{
    width: 100%;
    height: 49px;
    border: 0px solid #D8DBDD;
}
.am-pagination, th {
    text-align: center;
}
.yqjymd{
   padding-top: 20px !important;
}
#sbjy{
height: 250px;
}
.weiwancheng{
   background: #CBCED3;
    border: 1px solid #CBCED3;
}
.yqspzhixian{
    width: 80px;
}
.date{
 
    width: 103px !important;
}
input[type="date"]{
    width: 213px!important;
}
#eqjy{
    height: 100%;
}
/* #eqbox{
    height: 100%;
} */
#kflct{
    margin-top: 20px !important;
}
/* .yuandian:nth-of-type(2){
    background-color: pink !important;
} */
/* th{
    height: 25px;
} */
.wancheng{
    background-color: #386FF0;
}

@media only screen and (min-width: 641px)
{
    .am-modal {
        /* width: 540px; */
        margin-left: -360px;
    }
}