* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.am-topbar,
.admin-header {
    margin: 0;
    height: 60px;
    background: #5A8CFF;
    box-shadow: 1px 5px 10px 1px rgba(3, 3, 3, 0.11);
}

.am-topbar-brand {
    width: 259px;
    height: 59px;
    background: #4878E7;
    float: left;
}

.am-topbar-brand img {
    padding: 1px 0 0 28px;
}

.am-topbar-right {
    margin-top: 5px;
}

#am-dropdown-toggle {
    color: white;
}

#am-dropdown-toggle:hover {
    background: transparent;
}

.am-btn-success {
    outline: none;
    margin-top: 13px;
}

.admin-sidebar {
    border: none;
    height: 100%;
}

.admin-offcanvas-bar {
    background-color: white;
}

.admin-main {
    background-color: white;
    height: 100%;
}

.nav_list {
    height: 60px;
    background-color: white;
}

.icon-nav {
    float: right;
    font-size: 24px;
    padding: 10px;
    color: #4878E7;
}

.am-list>li {
    position: relative;
    display: block;
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
    border-width: 0;
}

.admin-sidebar-sub li:first-child {
    border: none;
}

.admin-sidebar-list li a {
    color: #151E34;
    padding-left: 55px;
}

.admin-sidebar-list li a:hover,
#collapse-nav:hover {
    background-color: #5A8BFF;
    color: white;
}

.admin-sidebar-sub {
    background: none;
    box-shadow: none;
}

.am-icon-home,
.am-icon-sign-out {
    font-size: 20px;
}

.icon_text {
    margin-left: 10px;
}

.admin-content {
    background-color: #F0F3FC;
    min-height: 875px;
}

.am-padding {
    height: 60px;
    background: #FBFCFE;
    box-shadow: 1px 5px 2px 1px rgba(3, 3, 3, 0.01);
}

.am-text-primary {
    color: #4878E7;
}

.am-breadcrumb {
    margin: 0;
    padding: 0;
}


/* 导入按钮 */

.setbtn {
    width: 110px;
    height: 40px;
    background: #5A8BFF;
    border-radius: 15px;
    color: white;
    outline: none;
    border: none;
}

.input_ser {
    width: 355px;
    height: 51px;
    background: white;
    border: none;
    box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}

.input_ser input {
    float: left;
    width: 80%;
    border: none;
    height: 35px;
    margin: 8px 0 8px 16px;
    /* outline: none; */
}

.icon-sousuo1-copy {
    margin-right: 12px;
    font-size: 30px;
    float: right;
}


/* 表单 */

.am-scrollable-horizontal {
    margin-top: 50px;
    max-width: 1332px;
    min-height: 545px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #EDF1F5;
    box-shadow: 1px 8px 17px 2px rgba(0, 0, 0, 0.05);
    width: 100%;
    padding: 0;
}

table {
    color: #434547;
}

th {
    height: 47px;
}

tr {
    height: 58px;
    border: none;
}

thead {
    background-color: #5A8CFF;
    color: white;
}

td {
    border-top: none;
}

.am-table>tbody>tr>td {
    border-top: none;
}

input {
    width: 20px;
    height: 20px;
}

.btn-look {
    width: 75px;
    height: 35px;
    background: #5A8BFF;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    outline: none;
}

.but-use {
    width: 75px;
    height: 35px;
    background: #F5F6F7;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    outline: none;
}

.am-container {
    margin: auto;
}

#pagcentered {
    max-width: 970px;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 25px;
}

.am-pagination>.am-active>a {
    background-color: #5A8BFF;
}

.row {
    width: 100%;
    margin: auto;
    text-align: center;
}
.btn-look a{
    color: white;
}
.pagination > .active > a{
    background-color: #5A8BFF;
    border-color: #5A8BFF;
}


/* iphone 5 */

@media screen and (min-width: 320px) {
    .am-margin {
        margin: 24px 0 0 0;
        padding-left: 9px;
    }
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    .btn-look {
        margin: 0;
    }
    .btn-look {
        width: 65px;
        height: 30px;
        background: #5A8BFF;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 15px;
    }
    .but-use {
        width: 65px;
        height: 30px;
        background: #F5F6F7;
        border-radius: 15px;
        border: none;
        font-size: 15px;
        margin-top: 10px;
    }
    #pagcentered {
        max-width: 970px;
        padding: 25px 0 0 0;
    }
    .input_ser {
        width: 142px;
        height: 40px;
        background: white;
        border: none;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
    }
    .input_ser input {
        float: left;
        width: 66%;
        border: none;
        height: 25px;
        margin: 8px 0 8px 16px;
        /* outline: none;*/
    }
    .icon-sousuo1-copy {
        margin-top: 7px;
        font-size: 18px;
        float: right;
    }
}

@media screen and (min-width: 320px) {
    .am-margin {
        margin: 24px 0 0 0;
        padding-left: 9px;
    }
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    .btn-look {
        margin: 0;
    }
    .btn-look {
        width: 65px;
        height: 30px;
        background: #5A8BFF;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 15px;
    }
    .but-use {
        width: 65px;
        height: 30px;
        background: #F5F6F7;
        border-radius: 15px;
        border: none;
        font-size: 15px;
        margin-top: 10px;
    }
    #pagcentered {
        max-width: 970px;
        padding: 25px 0 0 0;
    }
    .input_ser {
        width: 142px;
        height: 40px;
        background: white;
        border: none;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
    }
    .input_ser input {
        float: left;
        width: 66%;
        border: none;
        height: 25px;
        margin: 8px 0 8px 16px;
        /* outline: none;*/
    }
    .icon-sousuo1-copy {
        margin-top: 7px;
        font-size: 18px;
        float: right;
    }
}


/* iphoneX */

@media screen and (min-width: 375px) {
    .am-margin {
        margin: 24px 0 0 0;
        padding-left: 9px;
    }
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    .btn-look {
        margin: 0;
    }
    .btn-look {
        width: 65px;
        height: 30px;
        background: #5A8BFF;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 15px;
    }
    .but-use {
        width: 65px;
        height: 30px;
        background: #F5F6F7;
        border-radius: 15px;
        border: none;
        font-size: 15px;
        margin-top: 10px;
    }
    .input_ser {
        width: 166px;
        height: 40px;
        background: white;
        border: none;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
    }
    .input_ser input {
        float: left;
        width: 70%;
        border: none;
        height: 25px;
        margin: 8px 0 8px 16px;
        /* outline: none;*/
    }
    .icon-sousuo1-copy {
        margin-top: 7px;
        font-size: 18px;
        float: right;
    }
}


/* iphone6 7 8 plus */

@media screen and (min-width: 414px) {
    .am-margin {
        margin: 30px 0 0 0;
        padding-left: 9px;
    }
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    .btn-look {
        margin: 0;
    }
    .btn-look {
        width: 65px;
        height: 30px;
        background: #5A8BFF;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 15px;
    }
    .but-use {
        width: 65px;
        height: 30px;
        background: #F5F6F7;
        border-radius: 15px;
        border: none;
        font-size: 15px;
        margin-top: 10px;
    }
    #pagcentered {
        max-width: 970px;
        padding: 25px 0 0 0;
    }
    .am-scrollable-horizontal {
        margin-top: 30px;
    }
    .input_ser {
        width: 189px;
        height: 40px;
        background: white;
        border: none;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
    }
    .input_ser input {
        float: left;
        width: 75%;
        border: none;
        height: 25px;
        margin: 8px 0 8px 16px;
        /* outline: none; */
    }
    .icon-sousuo1-copy {
        margin-top: 7px;
        font-size: 18px;
        float: right;
    }
}

@media only screen and (min-width :481px) {
    .am-margin {
        margin: 30px 0 0 0;
        padding-left: 9px;
    }
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    .btn-look {
        margin: 0;
    }
    .btn-look {
        width: 65px;
        height: 30px;
        background: #5A8BFF;
        border-radius: 15px;
        border: none;
        color: white;
        font-size: 15px;
    }
    .but-use {
        width: 65px;
        height: 30px;
        background: #F5F6F7;
        border-radius: 15px;
        border: none;
        font-size: 15px;
        margin-top: 0px;
    }
    #pagcentered {
        max-width: 970px;
        padding: 25px 0 0 0;
    }
    .am-scrollable-horizontal {
        margin-top: 30px;
    }
    .input_ser {
        width: 229px;
        height: 51px;
        background: white;
        border: none;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
    }
    .input_ser input {
        float: left;
        width: 75%;
        border: none;
        height: 35px;
        margin: 8px 0 8px 16px;
        /* outline: none; */
    }
    .icon-sousuo1-copy {
        margin-top: 5px;
        font-size: 28px;
        float: right;
    }
}


/* ipad */

@media screen and (min-width: 768px) {
    .down-left {
        float: right;
        padding: 0;
    }
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    .btn-look {
        margin: 0;
    }
    .but-use {
        width: 65px;
        height: 30px;
        background: #F5F6F7;
        border-radius: 15px;
        border: none;
        font-size: 15px;
        margin-top: 0px;
    }
}


/* ipad pro */

@media screen and (min-width: 1024px) {
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    #pagcentered {
        max-width: 970px;
        padding-left: 156px;
        padding-right: 156px;
        padding-top: 25px;
    }
}


/* pc */

@media screen and (min-width: 1025px) {
    .down-left {
        float: right;
        padding: 0;
    }
    .am-margin {
        margin: 30px 0 0 0;
        padding-left: 133px;
        padding-right: 133px;
    }
    .am-scrollable-horizonta {
        margin-top: 20px;
    }
    #pagcentered {
        max-width: 970px;
        padding-left: 156px;
        padding-right: 156px;
        padding-top: 25px;
    }
    .setbtn {
        width: 110px;
        height: 40px;
        background: #5A8BFF;
        border-radius: 15px;
        color: white;
        outline: none;
        border: none;
    }
    .input_ser {
        width: 355px;
        height: 40px;
        background: white;
        border: none;
        box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.03);
        border-radius: 20px;
    }
    .input_ser input {
        float: left;
        width: 80%;
        border: none;
        height: 25px;
        margin: 8px 0 8px 16px;
        /* outline: none; */
    }
    .icon-sousuo1-copy {
        margin-right: 12px;
        font-size: 26px;
        float: right;
        margin-top: 8px;
    }
}