*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

.am-topbar,.admin-header{
   margin: 0;
   height: 60px;
   background: #5A8CFF;
   box-shadow: 1px 5px 10px 1px rgba(3, 3, 3, 0.11);
}
.am-topbar-brand{
    width: 259px;   
    height: 59px;
    background: #4878E7;
    float: left;
}
.am-topbar-brand img{
    padding: 1px 0 0 28px;
}
.am-topbar-right{
    margin-top: 5px;
}
#am-dropdown-toggle{
    color: white;
}
#am-dropdown-toggle:hover{
    background: transparent;
}
.am-btn-success{
    outline: none;
    margin-top: 13px;
}
.box_nav{
    height: 100%;
    border: 0;
    width: 260px;
    background-color: white;
}
.admin-sidebar{
    border: none;
}
.nav_list{
    height: 60px;
    background-color: white;
}
.icon-nav{
    float: right;
    font-size: 24px;
    padding: 10px;
    color: #4878E7;
}
.am-list>li {
    position: relative;
    /* display: block; */
    margin-bottom: 0px;
    background-color: #fff;
    border:none;
    border-width:0;
}
.admin-sidebar-sub li:first-child {
    border: none;
}
.admin-sidebar-list li a {
    color: #151E34;
    padding-left: 55px;
}
.admin-sidebar-list li a:hover,#collapse-nav:hover{
    background-color:#5A8BFF ;
    color: white;
}
.admin-sidebar-sub{
    padding-left: 0px;
    background: none;
    box-shadow: none;
}
.am-icon-home,.am-icon-sign-out{
  font-size: 20px;
}
.icon_text{
    margin-left:10px ;
}
.admin-content{
    min-height: 875px;
    background-color:#F0F3FC ;
}
.am-padding{
    height: 60px;
    background: #FBFCFE;
    box-shadow: 1px 5px 2px 1px rgba(3, 3, 3, 0.01);

}
.am-text-primary{
    color: #4878E7;
}
.am-g {
    margin: 35px auto;
    width: 100%;
}
.am-margin-right {
    transform:rotate(90deg);
    margin-top: 15px;
}
.fromenumber {
    width: 307px;
    height: 285px;
    background-color: #ffffff;
    margin-top: 60px;
    float: left;
    border-radius: 10px;
    margin-left: 88px;
}
.fromenumber_one{
    width: 307px;
    height: 211px;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    /* background-color:pink; */
    border-radius:10px 10px 0px 0px;
    
}
.fromenumber_two{
    text-align: center;
    width: 307px;
    height: 74px;
    color: white;
    background: #5A8CFF;
    box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0px 0px 10px 10px;
    padding-top: 15px;
    
}
.icon-wnumber_icon:before {

    font-size:114px;
    content: "\e618";
}
.fh{
    background: #5A8CFF;
}
.fh:hover{
    color: black;
    background-color: #5A8CFF !important;
}
.fromenumber:hover{
    cursor: pointer;
}
.box_one{
    width: 355px;
    height: 51px;
    margin: 50px 156px;
    position: relative;

}
input{
    outline: none;
}
.box_one>input{
    width: 355px;
height: 51px;
background: #F2F6FB;
border: 1px solid #C5C4C4;
border-radius: 20px;
padding-left: 15px;
}
.box_one>img{
    position: absolute;
    left: 86%;
    top: 27%;

}
.contain,.flotter{
    width: 1332px;
    height: 565px;
    /* background: #FFFFFF; */
    background-color: white;
    border: 1px solid #ECF0F5;
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.05);
    margin:  0 auto; 
    position: relative;
}
*+address, *+blockquote, *+dl, *+fieldset, *+figure, *+hr, *+ol, *+p, *+pre, *+ul {
    margin-top: 0rem;
}
address, blockquote, dl, fieldset, figure, hr, ol, p, pre, ul {
    margin: 0 0 0rem;
}
.btn{
    width: 1332px;
    height: 63px;
    margin: 20px auto;
    text-align: center;
    
}

.button,input[type="button"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 105px;
    outline: none;
height: 44px;
background: #5A8CFF;
border-radius: 20px;


}
.button2 {
    background: #5A8CFF;
    border-radius: 9px;
} /* Blue */
.button3 {
    background: #F05858;
    border-radius: 9px;} /* Red */ 
    .jyr {
        width: 80px !important;
    }
form{
    margin: 0 auto;
    /* background-color: pink; */
}
form>input{
    width: 160px;
height: 20px;
font-size: 20px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #434547;
line-height: 60px;
    margin-left:106px ;
    margin-top: 20px;
    border: 0px;
    background-color: transparent;
    /* background-color: pink; */
    padding-left: 15px;
}
.txnr{
    width: 290px;
    height: 39px;
    border-radius: 18px;
    background-color: RGBA(247, 247, 247, 1);   
    margin-left: 20px !important;

}
.synyr{
    width: 104px !important;
    margin-left: 0px !important;
}

.txnyr{
    width:54px !important;
    border-radius: 0px;
    padding-left: 0px !important;
   margin-left: 0px !important;
}

.ipnumber{
    width: 146px !important;
    margin-left:  0px !important;
    font-size: 19px;
    padding-left: 0px !important;
}
.sysj{
    width: 100px !important;
    margin-left: 83px !important;
    padding-left: 0px !important;
}
.nian{
    width: 20px !important;
  
}
table{
    width: 1140px;
height: 236px;
border: 0px solid #D8DBDD;
margin: 0px auto;
margin-top: 20px;
text-align: center;
}
tr{
    text-align: center;
}
th{   
    width: 20%;
    height: 50px;
}
tbody{
    text-align: center;
}
td{
    height: 124px; 
}
td>input{
    width: 100%;
    height: 49px;
    background-color: transparent;
    border: 0px solid #D8DBDD;
    text-align: center;
}
.am-pagination, th {
    text-align: center;
}
.am-pagination {
    margin-top: 45px;
}

.jysqbox{
    width: 819px;
height: 795px;
background: #FFFFFF;
box-shadow: 0px 0px 8px 1px rgba(3, 3, 3, 0.21);
border-radius: 4px;
margin: 50px auto;

}
.jysq{
    width: 1903px;
    height: 936px;
    /* background: #000000 ;
    opacity: 0.02; */
    background-color: RGBA(180, 182, 189, 0.5);
    border-radius: 10px;
    position: absolute;
    top:0%;
    left: 0%;
    display: none;
 
    
}
.jysqheader{
    width: 819px;
height: 90px;
background: #5A8CFF;
box-shadow: 1px 9px 24px 1px rgba(227, 230, 232, 0.63), 1px 1px 7px 0px rgba(235, 247, 248, 0.27);
text-align: center;
font-size: 25px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
line-height: 87px;
}

.lsbdtr>th{
    width: 12% !important;
}
.am-table>tbody>tr>td{
    height:106px !important ;
    /* line-height: 88px; */
}
.qrtj{
    text-align: center;
    margin: 0 auto;

}
.am-container{
    margin: auto;
}
#pagcentered{
    max-width: 970px;
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 25px;
}
.am-pagination>.am-active>a{
    background-color:#5A8BFF;
}
td.am-hide-lg, td.am-hide-lg-only, td.am-hide-lg-up, td.am-hide-md, td.am-hide-md-only, td.am-hide-md-up, td.am-show-lg-down, td.am-show-md-down, td.am-show-sm, td.am-show-sm-down, td.am-show-sm-only, td.am-show-sm-up, th.am-hide-lg, th.am-hide-lg-only, th.am-hide-lg-up, th.am-hide-md, th.am-hide-md-only, th.am-hide-md-up, th.am-show-lg-down, th.am-show-md-down, th.am-show-sm, th.am-show-sm-down, th.am-show-sm-only, th.am-show-sm-up {
    display: none !important;
}
.am-pagination>.am-active>a, .am-pagination>.am-active>a:focus, .am-pagination>.am-active>a:hover, .am-pagination>.am-active>span, .am-pagination>.am-active>span:focus, .am-pagination>.am-active>span:hover {
    z-index: 0;

}
.row {
    width: 100%;
    margin: auto;
    text-align: center;
}

/* iphoneX */

/* iphone6 7 8 plus */
@media screen and (max-width: 414px) {
  
}
/* ipad */
@media screen and (max-width: 768px) {
    .box_one {
        width: 355px;
        height: 51px;
        margin: 20px 40px;
    }
    .contain, .flotter {
        width: 400px;
        height:1000px;
        border: 1px solid #ECF0F5;
        box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }
    .txnyr {
        width: 52px !important;
        border-radius: 0px;
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
    form>input {
        width: 260px;
        margin-left: 140px;
    }
    .txnr {
        width: 360px;
    }
    .flotter>p {
        width: 300px;
        height: 120px;
     
    }
    .btn {
        width: 400px;
        height: 63px;
        /* background-color: pink; */
        margin-top: 20px;
        text-align: center;
    }
    .button {
        margin: 0px ;
    
    }
    table {
        width: 100%;
    }
    .jyr {
        width: 158px !important;
    }
    .ipnumber {
        width: 176px !important;
        margin-left: 0px !important;
    }
    .synyr {
        margin-left: 13px !important;
    }
    .nian{
        margin-left: 0px !important;
    }
    .sysj {
        width: 234px !important;
        margin-left: 147px !important;
        padding-left: 0px !important;
    }
 
    .tx {
        width: 100%;

    }
    .add{
        position: absolute;
        top: 77%;
        left: 0%;

    }
    .tx {
        margin: 39px auto;
    }
}
/* ipad pro */
@media screen and (min-width: 1024px) {

}
/* pc */
@media screen and (min-width: 1100px) {
 
}
@media screen and (max-width: 320px) {
    .ipnumber {
        width: 300px !important;
        margin-left: 8px !important;
    }
    .txnr {
        width: 300px;
        margin-left: 8px ;
    }
    .nian {
        width: 33px !important;
    }
    .contain, .flotter {
        width: 320px;
    }
    .txnyr {
        width: 48px !important;
        border-radius: 0px;
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
    .synyr {
        margin-left: 0px !important;
    }
    .box_one>input {
        width: 240px !important;
    }

    .contain, .flotter {
        height: 1050px;
   
    }
    .box_one {
        width: 339px;
        height: 84px;
    }
    .button, input[type="button"] {
        width: 96px;
  
    }
    .contain, .flotter {
        height: 80%;
    }
    .jysq {
        width: 320px;
    }
    .jysqbox {
        width: 100%;

    }
    .am-pagination {
        margin-top:0px;
    }
    
}
@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
    .box_one {
        width: 355px;
        height: 51px;
        margin: 20px 40px;
    }
    .contain, .flotter {
        width: 375px;
        height:1000px;
        border: 1px solid #ECF0F5;
        box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }
    .box_one>input {
        width: 319px;     
  
    }
  
    .box_one {
        width: 339px;
        height: 84px;
    }
    .button, input[type="button"] {
        width: 96px;
  
    }
    .contain {
        height: 548px !important;
    }
    .jysq {
        width: 375px;
       
    }
    .am-pagination {
        margin-top:0px;
    }
    .box_one>img {
    position: absolute;
    left: 82%;
    top: 21%;
    }
}
@media screen and (max-width: 414px) {
    .box_one {
        width: 355px;
        height: 51px;
        margin: 20px 40px;
    }
    .contain, .flotter {
        height:1000px;
        border: 1px solid #ECF0F5;
        box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.05);
        margin: 0 auto;
    }

    .box_one>img {
    position: absolute;
    left: 82%;
    top: 21%;
}

    .contain, .flotter {
        height: 1050px;
   
    }
    .box_one {
        width: 339px;
        height: 84px;
    }
    .button, input[type="button"] {
        width: 96px;
        margin-top: 10px;
  
    }
    .contain, .flotter {
        height: 80%;
    }
    .jysq {
        width: 375px !important;
    }
    .jysqbox {
        width: 100%;

    }
    .am-pagination {
        margin-top:24px;
    }
}
